.side-menu.header-side-menu .logo {
    margin-top:0;
}
p{
    font-size:18px;
}
.umb-grid .container, .umb-grid .row {
    width:100%;
    padding:0 !important;
    margin:0 !important;
}
ol {
    list-style-type:decimal;
    padding-left:30px;
    font-size:18px;
}
ol li > ol {
    list-style-type:lower-alpha;
}
li > img {
    margin: 15px 0;
}
#content > .container {
    max-width:980px;
}
.callout {
    margin-top:10px;
}
.portfolio-meta.custom .portfolio-tags a {
    color:#fff;
}